*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;;
    height: 100%;
    
    font-size: 18px;
}
h1,h2,h3,h4,h5{
    color: #455963;
}

.container{
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
    padding-bottom: 30px;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.logo{
    width: auto;
    height: auto;
    align-self: center;
    padding: 10px;
    font-weight: 700;
}
.logo a{
    text-decoration: none;
    color: blueviolet;
}
.custom{
    color: rgba(231, 66, 66, 0.856);
    font-weight: 700;
}
nav ul{
    position: absolute;
    top: 50px;
    width: 100%;
    background: rgba(174, 115, 230,0.2);
    display: none;
    grid-template-columns: 1fr 1fr;
}
nav ul li{
    text-align: center;
    list-style: none;
    padding: 15px;
    font-size: large;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.mobile-menu{
    align-self: flex-end;
}
.mobile-menu img{
    width: 35px;
    height: 35px;
}
.nav-class{
    display: inline;
}
#welcome-flex{
    width: 100%;
    height: 400px;
    background: url('images/background.jpg');
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to left,rgba(255,0,255,0.5));
}

.welcome-text{
    width: 300px;
    height: 70px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    background: rgba(252, 249, 249,0.08);
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -150px;
    border: solid rgb(192, 191, 191) .1px;
    border-radius: 5px;
    color: rgb(15, 1, 1);
    opacity: 0;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes content{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
#services{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
}
#services .service{
    width: auto;
    height: 350px;
    text-align: center;
    margin: 0 auto;
}
#services .service:hover{
    transform: rotateY(180deg);
}
#features{
    background: #fdfdfd;
    padding-top: 5px;
}
#features .feat-header h2{
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 10px 0;
    
}

#features .feat-header {
    text-align: center;
    margin: 70px 0 100px 0;

}
.feature{
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.5;
}

.feature h4{
    text-align: center;
    text-transform: uppercase;
    
}

footer{
    height: 100px;
    color: #ffffff;
    background: #000;
    text-align: center;
    line-height: 100px;
}
@media only screen and (min-width:768px){
    .mobile-menu img{
        display: none;
    }
    nav{
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul{
        position: static;
        width: auto;
        background: #fff;
        display: flex;
        flex-direction: row;
    }
    nav ul li a{
        color: #000;
    }
    #welcome-flex{
        height: 500px;
        background-size: auto;
        background-position-x: center;
        background-position-y: -150px;
        background-image: linear-gradient(to left,rgba(255,0,255,0.5));
    }

    #services{
        width: 100%;
        margin: 0 auto;
        font-size: 14px;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
    }
   
    #feat-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #feat-container .text{
       align-self: center;
    }
}